.vscode/**
.vscode-test/**
.vscode-test.mjs
.github/**
test/**
out/test/**
src/**
media/**
node_modules/**
**/*.ts
**/*.map
.gitignore
.eslintrc.json
.mocharc.json
tsconfig.json
**/tsconfig.json
*.vsix
scripts/**
human-type-*.vsix
